


.EventApproveButton {
    transition-duration: 0.4;
    background-color: rgb(56, 116, 29);
    color: white;
    padding: 5px 16px;

}

.EventApproveButton:hover {
    background-color: #ffffff; 
    color: black;
}

.EventDenyButton {
    transition-duration: 0.4;
    background-color: rgb(209, 0, 0);
    color: white;
    padding: 5px 16px;

}

.EventDenyButton:hover {
    background-color: #ffffff; 
    color: black;
}