.OrganizationEventFormContainer {
    display: flex;
    margin-top: 2%;
    margin-right:7%;
    justify-content: center;
    height: 500px;
    width: 100%;
}

.EventFormContainer {
    height: 100%;
    width: 50%;
}

.EventFormDataDataContainer {
    display: flex;
    justify-content: flex-end;
    height: 40%;
    width: 100%;
}

.EventFormInputContainer {
    margin-bottom: 4%;
}


.text{
    display:inline-flex;
    width:160px;
    margin-bottom: 6%;
    font-size:22px;
}

.EventNameInput{
    border: 1px solid black;
    width:370px;
    height:35px;
}

.EventDateInput{
    border: 1px solid black;
    width:370px;
    height:35px;
}

.EventTimeInput{
    border: 1px solid black;
    width:370px;
    height:35px;
}

.EventLocationSelectInput{
    border: 1px solid black;
    width:375px;
    height:38px;
}

.EventDescriptionInput{
    border: 1px solid black;
    width:370px;
    height:130px;
    vertical-align: top;
}

.RadioBtnPrivate{
    display:inline;
    margin-right:1%;
    margin-left:22%;
    width:15px;
    height:15px;
    font-size:22px;
    margin-bottom:5%;
}

.RadioBtnPublic{
    margin-right:1%;
    margin-left:22%;
    width:15;
    height:15px;
    font-size:22px;
    margin-bottom:5%;
}

.RadioLabel {
    font-size: 16px;
    vertical-align: center;
}

.cancelBtn{
    border: 1px solid black;
    width:130px;
    height:32px;
    margin-right:35%;
    margin-left:5%;
    color:white;
    background-color:rgb(102, 102, 102);
    border-radius: 30px;
    font-size: 13px;
}

.submitBtn{
    border: 1px solid black;
    width:130px;
    height:32px;
    color:white;
    background-color:rgb(56, 116, 29);
    margin-left:15%;
    border-radius: 30px;
    font-size: 13px;
}
.AnnouncementMessage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    font-size:22px;
}