.PageContainer {
    width: 100%;
    min-height: 100%;
    background: #ffffff;
}

.icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 5%;
    height: 100%;
    text-align: center;
    font-weight:bold;
}

.logoutButton {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.leftNavbar {
    display: flex;
    align-items: center;
    height: 60px;
    word-spacing: 7px;
    background: #125261;
    -webkit-text-fill-color: #ffffff;
    text-decoration: inherit;
}

nav {
    display: flex;
}

.leftNavbar a {
    justify-content: left;
    padding-left: 25px;
    color: rgb(200, 200, 200);
    text-decoration: none;
    transition: color 0.5s;
}

.leftNavbar a:hover {
    color: white;
    transition: color 0.5s;
}

.leftNavbar a.active {
    color: white;
    font-weight: bold;
}

.notification  {
    margin: auto;
    display: inline-block;
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: rgb(204, 0, 0);
    border-radius: 50%;
    text-align: center;
    font-size: small;
}

.RequestNotification  {
    margin: auto;
    display: inline-block;
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: rgb(204, 0, 0);
    border-radius: 50%;
    text-align: center;
    font-size: small;
}


.rightNavbar {
    display: flex;
    position: Absolute; 
    right: 25px;
}