.eventGridContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    overflow-wrap: break-word;
}
.prompt{
    justify-content:center;
}
.whitetext{
    color:white;
}
