.PageContainer {
    width: 100%;
    min-height: 100%;
    background: #ffffff;
}

.icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 5%;
    height: 100%;
    text-align: center;
    font-weight:bold;

}

.logoutButton {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.leftNavbar {
    display: flex;
    align-items: center;
    height: 60px;
    word-spacing: 7px;
    background: #125261;
    -webkit-text-fill-color: #ffffff;
    text-decoration: inherit;
    
    
}

.leftNavbar a {
    justify-content: left;
    padding-left: 15px;
    color: white;
    text-decoration: none;
    
}

.leftNavbar a.active {
    font-weight: bold;
}



.rightNavbar {
    display: flex;
    position: Absolute; right: 25px;


}